@import "tailwindcss";

:root {
  --color-background: #575aa8;
  --color-foreground: #2d2121;
  --color-link-hover: #376ec5;
  --shadow-color: rgba(0, 0, 0, 0.15);
}


body {
  background: var(--color-background); 
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: black;
}

.container {
  width: 500px;
  background-color: var(--color-foreground);
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 5px;
  margin: 0 auto;
}

.input {
  background-color: white;
  color: black;
  width: 60px;
}

button:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
  opacity: 0.9;
  box-shadow: 0 6px 15px var(--shadow-color);
}
.box{
width: 250px;
height: 300px;
}
#box1{
    background-color: #436d55;
    padding: 1px;
}
#box2{
padding: 2px;
background-color:rgb(85, 85, 116);
}
button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: grey;
}
header{
  background-color: whitesmoke;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}